.cardLink {
    text-decoration: none;
    display: block;
    width: 260px;
  }
  
  .productoCard {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1.2rem;
    max-height: 30rem;
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.2s;
    margin-bottom: 1rem;
    justify-content: space-between;

  }
  
  .productoCard:hover {
    box-shadow: 0 0 12px #ffd580;
  }
  .wishlistButton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: auto;
  }
  .productImage{
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: 8px;
  }
  .botonCarro{
    margin-top: 5px;
  }