
.registroContainer {
    margin: 4rem auto;
    background: #fff8e1;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 4px 16px rgba(184, 135, 11, 0.08);
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  .input {
    padding: 0.75rem;
    border: 1px solid #dab785;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .button {
    background: #b68910;
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
  }
  .button:hover {
    background: #e1a800;
  }
  .error {
    color: #a12727;
    margin-top: -0.7rem;
  }
  